<div class="container">
  <div class="jumbotron">
    <h1>Code Q&A</h1>
    <div class="navbar">
      <ul class='nav nav-tabs'>
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <!-- <li><a href="https://www.facebook.com/ilenegorski">FaceBook</a></li> -->
      </ul>
    </div>
  </div>
    {{outlet}}
    <hr>
  <hr>
  <footer>
  </footer>
</div>
